
    <div class="center jumbotron">
        <h1>Welcome to Ruby On Rails Course</h1>
        <h2>This is the best ruby on rail class</h2>
        <%=link_to "Sign up now" , "", class: "btn btn-lg btn-success"%>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="midrow">
                View Recipe as Guess
            </h3>
            <p><%=link_to "Browse as guess", "", class: "btn btn-warning btn-small" %></p>
        </div>
        <div class="col-md-4">
             <h3 class="left">
                 PLease sign up here
             </h3>
             <p><%=link_to "Sign up here", "", class: "btn btn-warning btn-small"%></p>
        </div>
        <div class="col-md-4">
            <h3 class="right">
                PLease log in to view
            </h3>
            <p><%=link_to "Log in", "", class: "btn btn-warning btn-small" %></p>
        </div>
    </div>
